
body {
    height: 90vh;
    width: 100vh;
}

body>div {
    width: 100%;
    width: 100%;
}

#idmap {
    height: 90vh;
    width: 100vw;
    border-radius: 8px;
}

.container
{
    margin: 0 auto;
    padding: 0;
}


#technologyselect{
    width: 100%;
}

.select-wrapper
{
    margin:  10px 10px;
    width: 25vw;
    
}

.header-wrapper
{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}